/********* NAVIGATION PART ***********/

header{
    background-color: #fff;
    width: 100vw;
    border-bottom: 1px solid var(--black-05);
    position: fixed;
    top: 0;
    z-index: 1;
}

.navigator{
    height: 7.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigator .right-nav .button-register{
    margin-left: 1.6rem;
    cursor: pointer;
    padding: .8rem 1.6rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    height: 24px;
    border-radius: 8px;
    /* background-color: var(--primary-color); */
}

.navigator .right-nav .button-register:hover{
    background-color: var(--primary-color);
    color: #fff;
    transition: all 240ms;
}

.navigator .right-nav span:first-child{
    cursor: pointer;
    color: var(--black-75);
    border-bottom:2px solid transparent;
}

/* .navigator .right-nav span:first-child::before{
    content: "";
    border: 1px solid black;
    position: absolute;
}   
*/

.navigator .right-nav span:first-child::before:hover{
    width: 50px;
    transition: all 200ms;
}

.navigator .right-nav span:first-child:hover{
    border-bottom:2px solid var(--primary-color);
    transition: all 240ms;
}

.navigator .left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* color: var(--black-75); */
}

.navigator .left-nav .logo{
    font-size: 2.843rem;
    border-right:1px solid;
    padding-right: 1.6rem;
    letter-spacing: -.08rem;
}

.navigator .left-nav nav{
    padding: 0 1.6rem;
}

.navigator .left-nav nav span{
    margin:0 1.6rem;
    cursor: pointer;
    font-weight: light;
    border-bottom: 2px solid transparent;
    /* opacity: .75; */
}

.navigator .left-nav nav span:hover{
    /* color: var(--primary-color); */
    border-bottom: 2px solid var(--primary-color);
    transition: all 240ms;
}

.navigator .left-nav nav span a{
    color: var(--black-100);
    text-decoration: none;
}