@import url("header.css");

/* MAIN */
@import url("hero.css");

@import url("adventure.css");

@import url("callAction.css");

@import url("actuality.css");

@import url("team.css");

/* FOOTER */
@import url("footer.css");


.main-container-pokedex{
    margin-top: 8rem;
    
}

.main-container-pokedex .all-pokemon-container{
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 7.2rem;
    
}

.all-pokemon-container .smallPokemon{
    /* border: 1px solid black; */
    background-color: #fcfcfc;
    box-shadow: #e4e4e4 0px 2.4px 20px;
    margin-bottom: 7.2rem;
    text-align: center;
    padding: 5.6rem 9.6rem;
    position: relative;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}

.all-pokemon-container .smallPokemon .center{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute; 
    /* border: 1px solid; */
}

.all-pokemon-container .smallPokemon .center img + span{
    font-size: 1.2rem;
    /* margin-top: 2.4rem; */
    opacity: .75;
}

.all-pokemon-container .smallPokemon .poke{
    image-rendering: pixelated;
}