/********* TEAMS PART ***********/

.showcase-team-container{
    background-color: rgba(82, 89, 199, .75);
    color: #fff;
    padding: 3.2rem 0;
    
}

.showcase-team-container .center-texts p{
    letter-spacing: 2.4px;
    width: 74%;
    margin: 0 auto;
}

.showcase-team-container .center-blocks .team-container{
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-around;
}

.showcase-team-container .center-blocks .team-container .pokemon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.showcase-team-container .center-blocks .team-container .pokemon span{
    font-size: 2.133rem;
}